* {
	padding: 0;
	margin: 0;
}

ul,
li {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a,
a:visited,
a:active {
	text-decoration: none;
	color: #333;
}

button {
	border: none;
	background: none;
}

input,
textarea,
select,
button {
	outline: none;
	border-radius: 0;
}

textarea {
	resize: none;
}

iframe {
	background: transparent;
}

@font-face {
	font-family: 'iconfont';
	/* project id 1442270 */
	src: url('//at.alicdn.com/t/font_1442270_e6y1ipyi5q.eot');
	src: url('//at.alicdn.com/t/font_1442270_e6y1ipyi5q.eot?#iefix') format('embedded-opentype'),
		url('//at.alicdn.com/t/font_1442270_e6y1ipyi5q.woff2') format('woff2'),
		url('//at.alicdn.com/t/font_1442270_e6y1ipyi5q.woff') format('woff'),
		url('//at.alicdn.com/t/font_1442270_e6y1ipyi5q.ttf') format('truetype'),
		url('//at.alicdn.com/t/font_1442270_e6y1ipyi5q.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
	transition: all .3s ease;
}

.slide-fade-leave-active {
	transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to {
	transform: translateX(10px);
	opacity: 0;
}
